<ion-header>
  <ion-navbar>
  <ion-buttons start>
    <button ion-button icon-only menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
  </ion-buttons>

    <ion-title>Home</ion-title>

  <ion-buttons end>
    <button ion-button icon-only (click)="addTransaction()">
      <ion-icon name="add"></ion-icon>
    </button>
  </ion-buttons>

  </ion-navbar>
</ion-header>

<ion-content padding>
  <div class="sum">
    This week
    <div class="amount">
      {{ sum }}€
    </div>
  </div>
  <div style="display: block;" *ngIf="loaded">
    <canvas baseChart width="400" height="400" [datasets]="chartData" [legend]="false" [labels]="chartLabels" [chartType]="chartType" [options]="chartOptions" [colors]="chartColors"></canvas>
  </div>

   <ion-list>
     <!--
    <ion-list-header>
      This month
    </ion-list-header>
    -->
   <!-- <ion-item *ngFor="let transaction of lastTransactions" style.borderLeft="5px solid {{ (transaction.category | async)?.color }}"> -->
    <ion-item *ngFor="let transaction of lastTransactions">
      <div class="name">{{ transaction.name}}</div>
      <ion-note item-right>{{ transaction.amount }}€</ion-note>
    </ion-item>
  </ion-list>

</ion-content>
