<ion-header>

  <ion-navbar>
    <ion-title>Stats</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <ion-segment>
    <ion-segment-button *ngFor="let category of categories">
      <ion-icon name="{{ category.icon }}" (click)="selectCategory(category)"></ion-icon>
    </ion-segment-button>
  </ion-segment>

  <!--    
    <ion-grid>
      <ion-row>
        <ion-col *ngFor="let category of categories">
          <ion-icon name="{{ category.icon }}" (click)="selectCategory(category)"></ion-icon>
        </ion-col>
      </ion-row>
     </ion-grid>
     -->

  <h1 *ngIf="selectedCategory">{{ selectedCategory.name }}</h1>
     
  <div *ngIf="hasValue">
    <div style="display: block;" *ngIf="loaded">
      <canvas baseChart width="400" height="400" [options]="chartOptions" [datasets]="chartData" [labels]="chartLabels" [chartType]="chartType" [colors]="chartColors" (chartHover)="chartHovered($event)"
        (chartClick)="chartClicked($event)"></canvas>
    </div>
  </div>

  <div *ngIf="!hasValue" class="no-transaction">
    <p text-center>No transaction during this period.</p>
  </div>

</ion-content>