<!--
  Generated template for the Month page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-buttons start>
      <button ion-button icon-left (click)="goPrev()">
        <ion-icon name="arrow-back"></ion-icon>
         {{ prevTitle }}
      </button>
    </ion-buttons>
    <ion-title>{{ currentTitle }}</ion-title>
    <ion-buttons end>
      <button ion-button icon-right (click)="goNext()">
         {{ nextTitle }}
        <ion-icon name="arrow-forward"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-segment [(ngModel)]="range">
    <ion-segment-button (click)="viewWeek()" value="week">
      Week
    </ion-segment-button>
    <ion-segment-button (click)="viewMonth()" value="month">
      Month
    </ion-segment-button>
    <ion-segment-button (click)="viewYear()" value="year">
      Year
    </ion-segment-button>
  </ion-segment>
  <div *ngIf="loaded">
    <div *ngIf="hasValue">
      <ion-list>
        <div class="chart">
          <canvas baseChart [data]="chartData" [labels]="chartLabels" [colors]="chartColors" [chartType]="doughnutChartType" (chartClick)="chartClicked($event)"></canvas>
          <div class="total-amount">{{ total_amount }}€</div>
        </div>
        <ion-list-header>
          Transactions during the period
        </ion-list-header>

        <ion-item *ngFor="let transaction of currentTransactions | async">
          <ion-icon name="{{ (transaction.category | async)?.icon }}" item-left></ion-icon>
          {{ transaction.name}}
          <ion-note item-right>{{ transaction.amount }}€</ion-note>
        </ion-item>
      </ion-list>
    </div>
    <div *ngIf="!hasValue" class="no-transaction">
      <p text-center>No transaction during this period.</p>
    </div>
  </div>

</ion-content>