page-history {
    .chart {
        display: block;
        width: 100%;
    }

    .total-amount {
        text-align: center;
        margin-top: -139px;
        margin-bottom: 139px;
        font-size: 2rem;
    }

    .no-transaction {
        margin-top: 215px;
        color: #95a5a6;
        font-size: 1.4rem;
    }
}
