page-month {
    .chart {
        display: block;
        width: 100%;
    }

    .total-amount {
        text-align: center;
        margin-top: -139px;
        margin-bottom: 139px;
        font-size: 2rem;
    }
}
