page-colors-modal {
    padding: 0;

    .scroll-content {
        padding: 0 !important;
        overflow: hidden;
    }
    .colors {
        display: inline-block;
        height: 25%;
        width: 50vw;
        color: white;
        text-align: center;
        padding-top: 18%;
        padding-bottom: -18%;
    }
}
